{% extends 'base.html.twig' %}

{% block title %}{{ 'app.topic.education.title'|trans }}{% endblock %}

{% block body %}
    <div class="container">
        <h1>{{ 'app.topic.education.title'|trans }}</h1>

        {% if knowledge_points is defined and knowledge_points|length > 0 %}
            <ul class="nav nav-pills mb-3" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="pills-all" data-toggle="tab" href="#category-all" role="tab" aria-controls="category-all" aria-selected="true">Alle</a>
                </li>
                {% for category in categories %}
                    <li class="nav-item">
                        <a class="nav-link" id="pills-category-{{ category.id }}" data-toggle="tab" href="#category-{{ category.id }}" role="tab" aria-controls="category-{{ category.id }}" aria-selected="true">{{ category.name }}</a>
                    </li>
                {% endfor %}
            </ul>
            <div class="tab-content" id="pills-categories">
                <div class="tab-pane fade show active knowledge_point_list" id="category-all">
                    {%  for point in knowledge_points %}
                        {% include "knowledge_point/_summary.html.twig" %}
                    {% endfor %}
                </div>
                {% set current_category = null %}
                {% for point in knowledge_points %}
                    {% if point.category != current_category %}
                        {% if not current_category is null %}</div>{% endif %}
                        {% set current_category = point.category %}
                        <div class="tab-pane fade knowledge_point_list" id="category-{{ current_category.id }}">
                    {% endif %}
                        {% include "knowledge_point/_summary.html.twig" %}
                {% endfor %}
                {% if not current_category is null %}</div>{% endif %}
            </div>
        {% else %}
            {{ 'Keine Inhalte gefunden.'|trans }}
        {% endif %}
    </div>
{% endblock %}
