{% extends 'base.html.twig' %}

{% block title %}{{ 'app.homepage'|trans }} | {{ 'app.title'|trans }}{% endblock %}

{% block body %}
    <div class="container-fluid topic-chooser">
        <div class="row">
            <div class="col-sm-12 col-md-4 topic-column" id="topic-theory">
                <a class="topic-chooser-link" href="{{ path('topic_theory_index') }}">
                    <h1 class="topic-title">{{ 'app.topic.theory.title'|trans }}</h1>
                    <p class="topic-description">Ohne Theorie keine Praxis! <br> Wir Falken machen Bildungsarbeit und dafür brauchen wir Material. Stöber durch die Theoriesammlung, vielleicht entdeckst du was spannendes.</p>
                </a>
            </div>
            <div class="col-sm-12 col-md-4 topic-column" id="topic-education">
                <a class="topic-chooser-link" href="{{ path('topic_education_index') }}">
                    <h1 class="topic-title">{{ 'app.topic.education.title'|trans }}</h1>
                    <p class="topic-description">Alles was du für die Bildungsarbeit brauchst ist hier zu finden. Seminar- und Workshopkonzepte oder nur die richtigen Spiele und Methoden. Mach dich auf die Suche!</p>
                </a>
            </div>
            <div class="col-sm-12 col-md-4 topic-column" id="topic-organisation">
                <a class="topic-chooser-link" href="{{ path('topic_organisation_index') }}">
                    <h1 class="topic-title">{{ 'app.topic.organisation.title'|trans }}</h1>
                    <p class="topic-description">Gute Politik braucht gute Organisierung. Deshalb findest du hier alles mögliche, was dir weiterhilft dich zu organisieren. Verbandsarbeit, Buchhaltung und Moderation warten auf dich!</p>
                </a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            Hallo
        </div>
    </div>
{% endblock %}
