
{% block quill_widget %}
    {% spaceless %}
        <div class="quill" data-config='{{ quill_config|json_encode() }}' data-id="{{ id }}">
            {{ value|raw }}
        </div>
        <textarea style="display: none;" {{ block('widget_attributes') }}>
            {{ value|raw }}
        </textarea>
    {% endspaceless %}
{% endblock %}

{% block zimm_entry_row %}
    {% spaceless %}
        {% embed "event/_card.html.twig" with {
            'is_form': true,
            'entry': value,
            'id': id
        } %}
            {% block zimm_entry_title %}
                <div class="zimm_entry-duration">
                    {{ form_errors(form.duration) }}
                    <label for="{{ form.duration.hours.vars.id }}" class="sr-only">{{ form.duration.hours.vars.label|trans }}</label>
                    <input type="text" id="{{ form.duration.hours.vars.id }}" name="{{ form.duration.hours.vars.full_name }}" class="zimm_entry-input zimm_entry-duration-input"
                           value="{{ form.duration.hours.vars.value }}">
                    :
                    <label for="{{ form.duration.minutes.vars.id }}" class="sr-only">{{ form.duration.minutes.vars.label|trans }}</label>
                    <input type="text" id="{{ form.duration.minutes.vars.id }}" name="{{ form.duration.minutes.vars.full_name }}" class="zimm_entry-input zimm_entry-duration-input"
                           value="{{ form.duration.minutes.vars.value }}">
                </div>
                <h3 class="zimm_entry-title">
                    {{ form_errors(form.duration) }}
                    <input type="text" id="{{ form.title.vars.id }}" name="{{ form.title.vars.full_name }}" class="zimm_entry-input zimm_entry-title-input"
                           value="{{ form.title.vars.value }}" placeholder="{{ form.title.vars.attr.placeholder is defined ? form.title.vars.attr.placeholder|trans : ''}}">
                </h3>
            {% endblock %}

            {% block zimm_entry_goal %}
                <li class="list-group-item">
                    <div class="d-table w-100">
                        {{ form_errors(form.goal) }}
                        <label for="{{ form.goal.vars.id }}" class="d-table-cell" style="width: 50px;">
                            <strong>{{ form.goal.vars.label|trans }}</strong>:
                        </label>
                        <div class="d-table-cell">
                            <input id="{{ form.goal.vars.id }}" name="{{ form.goal.vars.full_name }}" type="text"
                                   class="zimm_entry-input zimm_entry-goal-input" value="{{ form.goal.vars.value }}" placeholder="{{ form.goal.vars.attr.placeholder is defined ? form.goal.vars.attr.placeholder|trans : ''}}"/>
                        </div>
                    </div>
                </li>
            {% endblock %}

            {% block zimm_entry_description %}
                {{ form_errors(form.description) }}
                <label for="{{ form.description.vars.id }}" class="sr-only">{{ form.description.vars.label|trans }}</label>
                {% spaceless %}
                <textarea id="{{ form.description.vars.id }}" name="{{ form.description.vars.full_name }}"
                          class="card-text zimm_entry-input zimm_entry-description-input" placeholder="{{ form.description.vars.attr.placeholder is defined ? form.description.vars.attr.placeholder|trans : ''}}">
                    {{ form.description.vars.value }}
                </textarea>
                {% endspaceless %}
            {% endblock %}

            {% block zimm_entry_material %}
                {{ form_errors(form.material_list) }}
                <label for="{{ form.material_list.vars.id }}" class="sr-only">{{ form.material_list.vars.label|trans }}</label>
                {{ form_widget(form.material_list) }}
            {% endblock %}

            {% block zimm_entry_controls %}
                <div class="float-left w-25">
                    {{ form_widget(form.activity) }}
                </div>
                <button id="{{ id }}-delete" data-delete-id="{{ id }}" class="btn btn-outline-danger float-right zimm_entry-delete">{{ 'zimm_entry.delete'|trans }}</button>
            {% endblock %}
        {% endembed %}
        {% do form.duration.setRendered() %}
        {% do form.title.setRendered() %}
        {% do form.goal.setRendered() %}
        {% do form.description.setRendered() %}
        {% do form.material_list.setRendered() %}
        {% do form.activity.setRendered() %}
        {% do form.event_day.setRendered() %}
    {% endspaceless %}
{% endblock %}

{% block _event_zimm_entries_widget %}
    {% spaceless %}
        <div id="{{ id }}" data-prototype="{{ form_row(prototype)|e('html_attr') }}" data-index={{ form.children|length }}>
            {% for child in form.children %}
                {{ form_row(child) }}
            {% endfor %}
        </div>
        <button id="{{ id }}-add" class="btn btn-success float-right">{{ 'zimm_entry.add'|trans }}</button>
    {% endspaceless %}
{% endblock %}
