{{ form_start(form) }}

{% if form.title is defined and not form.title is null %}
    {{ form_row(form.title, {
        'label_attr': {'class': 'sr-only title-input'},
        'attr': {'class': 'form-control-lg'}
    }) }}
{% endif %}
<div class="row">
    <div class="col-8">
        {% block form_content %}
            {{ form_row(form.comment) }}
            {{ form_row(form.difficulty) }}
            {{ form_row(form.age) }}
        {% endblock %}
    </div>
    <div class="col-4">
        {% block form_buttons %}
            <button class="btn btn-success" style="float: right;">{{ button_label|default(('form.save'|trans)) }}</button>
            <div class="clearfix"></div>
            {# TODO: Delete Button #}
        {% endblock %}
        {% block form_aside %}
            {{ form_row(form.state) }}
            {{ form_row(form.visibility) }}
            {{ form_row(form.state) }}
            {{ form_row(form.owner) }}
            {{ form_row(form.tags) }}
            {{ form_row(form.category) }}
        {% endblock %}
    </div>
</div>
{{ form_end(form) }}
