{% if not entry is null %}
    {% set id = id|default('zimm_entry-' ~ entry.id) %}
    {% set title = title|default(entry.title) %}
    {% set type = type|default(entry.type) %}
    {% set duration = duration|default(entry.duration) %}
    {% set goal = goal|default(entry.goal) %}
    {% set description = description|default(entry.description) %}
    {% set activity = activity|default(entry.activity) %}
    {% set materialList = materialList|default(entry.materialList) %}
{% endif %}

<div id="{{ id }}" class="card zimm_entry-card {{ is_form ? 'zimm_entry-form' : 'l' }}">
    <div class="card-header" data-toggle="collapse" data-target="#{{ id }}-content" aria-expanded="false" aria-controls="{{ id }}-content">
        {% block zimm_entry_title %}
            <div class="zimm_entry-duration">{{ duration ? duration.format('%H:%I') : '' }}</div>
            <h3 class="zimm_entry-title">{{ title }}</h3>
        {% endblock %}
    </div>
    <div id="{{ id }}-content" class="collapse">
        {% if is_form|default(false) or (not goal is empty) %}
            <ul class="list-group list-group-flush">
                {% block zimm_entry_goal %}
                    <li class="list-group-item"><strong>{{ 'zimm_entry.goal.label'|trans }}</strong>: {{ goal }}</li>
                {% endblock %}
            </ul>
        {% endif %}
        {% if is_form|default(false) or (not description is empty) %}
            <ul class="list-group list-group-flush">
                <li class="list-group-item list-group-item-action" data-toggle="collapse" data-target="#{{ id }}-desc" aria-expanded="false" aria-controls="{{ id }}-desc"><h4>{{ ('zimm_entry.description.label.' ~ type|default('Custom'))|trans }}</h4></li>
            </ul>
            <div class="collapse" id="{{ id }}-desc">
                <div class="card-body" >
                    {% block zimm_entry_description %}
                        {% spaceless %}
                        <pre class="card-text zimm_entry-description">{{ description }}</pre>
                        {% endspaceless %}
                    {% endblock %}
                </div>
            </div>
        {% endif %}
        {% if is_form|default(false) or ((not materialList is empty) and (not materialList|first == '')) %}
            <ul class="list-group list-group-flush">
                <li class="list-group-item list-group-item-action" data-toggle="collapse" data-target="#{{ id }}-material" aria-expanded="false" aria-controls="{{ id }}-material"><h4>{{ 'zimm_entry.material.label'|trans }}</h4></li>
            </ul>
            <div class="collapse" id="{{ id }}-material">
                <div class="card-body" >
                    {% block zimm_entry_material %}
                        <ul>
                            {% for material in materialList %}
                                {% if not material is empty %}<li>{{ material }}</li>{% endif %}
                            {% endfor %}
                        </ul>
                    {% endblock %}
                </div>
            </div>
        {% endif %}
        {% if is_form|default(false) or activity %}
            <div class="card-footer clearfix">
                {% block zimm_entry_controls %}
                    {% if activity %}<a class="btn btn-info" href="{{ path('activity_show', {'id': activity.id}) }}">{{ ('zimm_entry.activity.show.' ~ activity.type)|trans }}</a>{% endif %}
                {% endblock %}
            </div>
        {% endif %}
    </div>
</div>
