<form method="post" action="{{ path('event_delete', {'id': event.id}) }}" onsubmit="return confirm('Bist du sicher, dass du das Event löschen möchtest?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ event.id) }}">
    <button class="btn">Löschen</button>
</form>
