{% extends 'form/knowledge_point.common.html.twig' %}

{% block form_content %}
    {{ form_row(form.topic) }}
    {{ form_row(form.text) }}
    <div class="row">
        <div class="col-6">
            {{ form_row(form.age) }}
            {{ form_row(form.difficulty) }}
        </div>
        <div class="col-6">
            {{ form_row(form.comment) }}
        </div>
    </div>
    {{ form_row(form.zimm_entries) }}
{% endblock %}

{% block form_aside %}
    {{ form_row(form.type) }}
    {{ parent() }}
{% endblock %}
