{% extends 'base.html.twig' %}

{% block title %}event list{% endblock %}

{% block body %}
    <div class="container">
        <h1>event list</h1>

        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Thema</th>
                <th>Titel</th>
                <th>Art</th>
                <th>Altersspanne</th>
                <th>Schwierigkeit</th>
                <th>Dauer</th>
                <th>Kategorie</th>
                <th>Tags</th>
                <th>letzte Aktualisierung</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for event in events %}
                <tr>
                    <td>{{ event.topic }}</td>
                    <td>{{ event.title ?? '' }}</td>
                    <td>{{ event.type }}</td>
                    <td>{{ event.age.min }} bis {{ event.age.max }}</td>
                    <td>{{ event.difficulty }}</td>
                    <td>{{ event.duration ? event.duration.format('%d Tage, %H:%I') : '' }}</td>
                    <td>{{ event.category }}</td>
                    <td>{{ event.tags ? event.tags|join(', ') : '' }}</td>
                    <td>{{ event.updatedAt ? event.updatedAt|date('Y-m-d H:i') : '' }}</td>
                    <td>
                        <a href="{{ path('event_show', {'id': event.id}) }}">anzeigen</a>
                        <a href="{{ path('event_edit', {'id': event.id}) }}">bearbeiten</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="10">Keine Einträge gefunden</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('event_new') }}">Neu erstellen</a>
    </div>
{% endblock %}
