{% extends 'base.html.twig' %}

{% block title %}{{ 'event.form.new.title'|trans }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('forms') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('forms') }}
{% endblock %}

{% block body %}
    <div class="container">
        <h1>{{ 'event.form.new.title'|trans }}</h1>

        {{ include('event/_form.html.twig') }}
    </div>
{% endblock %}
