{% extends 'base.html.twig' %}

{% block title %}{{ event.title is null ? event.topic : event.title }} | {{ parent() }}{% endblock %}

{% block body %}
    <div class="container">
        <a href="{{ path('topic_education_index') }}">Zurück zur Liste</a>
        <a class="btn btn-outline-primary float-right" href="{{ path('event_edit', {'id': event.id}) }}">bearbeiten</a>

        <article class="event">
            <header>
                <h1 class="event-title">{{ event.title is null ? event.topic : event.title }} <span class="badge badge-primary">{{ event.type }}</span><span class="badge badge-secondary" style="background-color: #{{ event.category.color }}">{{ event.category }}</span></h1>
                {% if event.tags and event.tags|length > 0 %}<div class="knowledge_point-tags event-tags"><div class="badge badge-tag">{{ event.tags ? event.tags|e|join('</div><div class="badge badge-tag">')|raw : '' }}</div></div>{% endif %}
            </header>

            <div class="row mb-2">
                <div class="col-12 col-md-6">
                    <h2 class="event-meta-title">{{ 'knowledge_point.difficulty.name'|trans }}</h2>
                    <div class="progress meta-progress">
                        <div class="progress-bar" style="width: {{ 1 + event.difficulty * 33 }}%;" role="progressbar" aria-valuenow="{{ event.difficulty }}" aria-valuemin="1" aria-valuemax="3">{{ ('knowledge_point.difficulty.' ~ event.difficulty)|trans }}</div>
                    </div>

                    <h2 class="event-meta-title">{{ 'event.duration.duration'|trans }}</h2>
                    <span class="event-duration">{{ event.duration ? event.duration.format('%d Tag(e), %H:%I') : '' }}</span>
                </div>
                <div class="col-12 col-md-6">
                    <h2 class="event-meta-title">{{ 'knowledge_point.age.age'|trans }}</h2>
                    <div class="progress meta-progress">
                        <div class="progress-bar bg-transparent" style="width: {{ event.age.min * 3.57 + 0.04 }}%;" role="progressbar" aria-valuenow="{{ event.age.min }}" aria-valuemin="0" aria-valuemax=28></div>
                        <div class="progress-bar" style="width: {{ (event.age.max - event.age.min) * 3.57 }}%;" role="progressbar" aria-valuenow="{{ event.age.max }}" aria-valuemin="0" aria-valuemax=28>{{ event.age.min ~ ' bis '|trans ~ (event.age.max == 28 ? '27+' : event.age.max) }}</div>
                    </div>
                </div>
            </div>




            <h2 class="event-meta-title">{{ 'event.content.text'|trans }}</h2>
            <p class="event-text">
                {{ event.text|raw }}
            </p>

            <h2 class="event-meta-title">{{ 'knowledge_point.comment'|trans }}</h2>
            <p class="event-comment">
                {{ event.comment }}
            </p>

            {% if not event.title is null and not event.topic is null %}
                <h2 class="event-meta-title">{{ 'knowledge_point.topic'|trans }}</h2>
                <p class="event-topic">
                    {{ event.topic }}
                </p>
            {% endif %}

            <ul class="nav nav-pills mb-3" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="pills-list-view" data-toggle="tab" href="#list-view" role="tab" aria-controls="list-view" aria-selected="true">Listenansicht</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="pills-table-view" data-toggle="tab" href="#table-view" role="tab" aria-controls="table-view" aria-selected="false">Tabellenansicht</a>
                </li>
            </ul>
            <div class="tab-content" id="pills-zimm-views">
                <div class="tab-pane fade show active" id="list-view" role="tabpanel" aria-labelledby="pills-list-view">
                    {% for entry in event.zimmEntries %}
                        {% include 'event/_card.html.twig' with {'is_form': false, 'entry': entry} %}
                    {% endfor %}
                </div>
                <div class="tab-pane fade" id="table-view" role="tabpanel" aria-labelledby="pills-table-view">
                    <table class="table">
                        <tr><th>Dauer</th><th>Ziel</th><th>Titel</th><th>Beschreibung/Ergänzung</th><th>Material</th></tr>
                        {% for entry in event.zimmEntries %}
                            <tr>
                                <td>{{ entry.duration ? entry.duration.format('%H:%I') : '' }}</td>
                                <td>{{ entry.goal }}</td>
                                <td>
                                    {% if entry.activity %}
                                        <strong><a href="{{ path('activity_show', {'id': entry.activity.id}) }}">{{ entry.title }}</a></strong>
                                    {% else %}
                                        <strong>{{ entry.title }}</strong>
                                    {% endif %}
                                </td>
                                <td>{{ entry.description }}</td>
                                <td>
                                    <ul>
                                        {% for material in entry.materialList %}
                                            {% if not material is empty %}<li>{{ material }}</li>{% endif %}
                                        {% endfor %}
                                    </ul>
                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="4">Keine ZIMM-Einträge gefunden</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>

            <footer class="mt-3 text-muted">
                <span class="updated-at">{{ 'knowledge_point.updated_at'|trans }}: {{ event.updatedAt ? event.updatedAt|date('Y-m-d H:i:s') : '' }}</span><br>
                <span class="created-at">{{ 'knowledge_point.created_at'|trans }}: {{ event.createdAt ? event.createdAt|date('Y-m-d H:i:s') : '' }}</span>
            </footer>
        </article>
    </div>
{% endblock %}
