@import 'framework';
@import 'form';
@import 'variables';
@import 'pages';

body {
    background-color: $gray-100;
}

#main-content {
    margin-top: 95px;
    padding-top: 25px;
}

.topic-chooser {
    margin-top: -80px;
    padding: 0;
    width: 100%;

    .row {
        padding: 0;
        margin: 0;
    }

    .topic-column {
        position: relative;
        height: 100vh;
        padding: 0;

        &#topic-theory {
            background-color: theme-color("theory");

            &:hover {
                background-color: $gray-100;
                .topic-title, .topic-description { color: theme-color("theory"); }
            }
        }

        &#topic-education {
            background-color: theme-color("education");

            &:hover {
                background-color: $gray-100;
                .topic-title, .topic-description { color: theme-color("education"); }
            }
        }

        &#topic-organisation {
            background-color: theme-color("organisation");

            &:hover {
                background-color: $gray-100;
                .topic-title, .topic-description { color: theme-color("organisation"); }
            }
        }

        .topic-chooser-link {
            display: block;
            width: 100%;
            height: 100%;
            text-decoration: none;
        }

        .topic-title {
            top: 40%;
            width: 100%;
            position: relative;
            text-align: center;
            color: #fff;
            font-weight: bold;
        }

        .topic-description {
            font-size: 20px;
            top: 40%;
            padding: 30px;
            position: relative;
            text-align: center;
            color: rgba(255, 255, 255, 0.5);
            width: 100%;
        }
    }
}

.topic-nav {
    position: fixed;
    top: 54px;
    z-index: 1030;
}

.topic-nav-column {
    height: 35px;

    &#topic-theory-nav {
        background-color: theme-color("theory");
    }

    &#topic-education-nav {
        background-color: theme-color("education");
    }

    &#topic-organisation-nav {
        background-color: theme-color("organisation");
    }

    &:hover, &.topic-nav-active {
        height: 40px;

        .topic-nav-link {
            color: rgba(255, 255, 255, 1);
        }
    }

    .topic-nav-link {
        padding: 5px;
        display: inline-block;
        width: 100%;
        height: 100%;
        text-align: center;
        text-decoration: none;
        color: rgba(255, 255, 255, 0.5);
    }
}

/* --- Zimm Entry --- */

.zimm_entry-card {
    margin-bottom: 20px;

    .card-header {
        padding: 0;
        margin: 0;
        display: table;
        width: 100%;
        cursor: pointer;

        .zimm_entry-duration {
            display: table-cell;
            vertical-align: middle;
            width: 40px;
            background-color: $gray-300;
            padding: 15px;
        }

        .zimm_entry-title {
            display: table-cell;
            padding: 15px;
        }
    }

    .list-group-item {
        &.list-group-item-action {
            background-color: $gray-100;
            cursor: pointer;

            &:hover {
                background-color: $gray-300;
            }
        }

        & > h4 {
            margin: 0;
            font-size: $font-size-lg;
        }
    }

    pre.zimm_entry-description {
        font-family: $font-family-base;
        color: $gray-700;
        font-size: $font-size-base;
    }
}

/* --- Knowledge Point Summary --- */

.knowledge_point-entity {
    h2 {
        font-size: $h3-font-size;
        font-weight: bold;
        a { color: $gray-700; }
        margin-bottom: 5px;

        .badge {
            font-size: 18px;
            margin-left: 5px;
            margin-right: 5px;
        }
    }

    .knowledge_point-entity-body {
        color: $gray-600;
        padding: 0;

        li {
            list-style: none;
            display: inline-block;
            margin-right: 15px;
        }
    }
}
