@import "variables";

.rc-slider-container {
    padding-bottom: 25px;
}

#activity_duration {
    input.form-control {
        width: 80px;
    }
}

/* --- Slider --- */

.rc-slider {
    .rc-slider-track {
        background-color: theme-color();
    }

    .rc-slider-handle {
        border-color: theme-color();

        &:focus {
            border-color: theme-color();
            box-shadow: none;
            background-color: theme-color();
        }
    }

    .rc-slider-mark-text {
        color: $gray-600;

        &.rc-slider-mark-text-active {
            color: $gray-800;
        }
    }

    .rc-slider-dot {
        border-color: $gray-400;

        &.rc-slider-dot-active {
            border-color: theme-color();
        }
    }

    .rc-slider-rail {
        background-color: $gray-400;
    }
}

/* --- Quill --- */
.ql-container {
    min-height: 15vh;
    background-color: #fff;
}

.zimm_entry-card {
    &.zimm_entry-form {
        .zimm_entry-duration {
            width: 90px !important;


            .zimm_entry-duration-input {
                width: 22px;
                text-align: center;
            }
        }

        .zimm_entry-input {
            background-color: transparent;
            border: 2px solid transparent;
            width: 100%;
            display: inline-block;

            &:hover {
                border: 2px dotted $gray-500;
            }

            &.zimm_entry-description-input {
                border: 2px dotted $gray-500;
            }
        }
    }

}
