@import 'variables';
@import "~bootswatch/dist/cosmo/variables";
@import "~bootstrap/scss/bootstrap";
@import "~bootswatch/dist/cosmo/bootswatch";

/* --- Typography --- */

h1 {
    .badge {
        font-size: 1.3rem;
        margin: 5px;
    }
}

.badge {
    &.badge-tag {
        background-color: $gray-300;
        margin: 5px;
    }
}

.knowledge_point-tags {
    margin-left: -5px;
}

.meta-progress {
    height: 15px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 100%;

    .progress-bar {
        font-size: 10px;
    }
}
