@import "framework";
@import 'variables';

/* --- Event --- */

article.event {
    h1.event-title {
        font-weight: bold;
        margin-bottom: 0;
    }

    h2.event-meta-title {
        font-size: $font-size-base;
        font-weight: bold;
    }

    table.event-table {
        th {
            text-align: left;
            max-width: 20px;
            padding-left: 0;
        }
    }

    .event-tags {
        margin-bottom: 10px;
    }
}

/* --- Activity --- */

article.activity {
    h1.activity-title {
        font-weight: bold;
        margin-bottom: 0;
    }

    h2.activity-meta-title {
        font-size: $font-size-base;
        font-weight: bold;
    }

    .activity-tags {
        margin-bottom: 10px;
    }
}
