<form method="post" action="{{ path('activity_delete', {'id': activity.id}) }}" onsubmit="return confirm('Bist du sicher, dass du die Aktivität löschen möchtest?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ activity.id) }}">
    <button class="btn">Löschen</button>
</form>
