{% extends 'form/knowledge_point.common.html.twig' %}

{% block form_content %}
    <h2>{{ 'activity.form.content.title'|trans }}</h2>
        {{ form_row(form.goal) }}
        {{ form_row(form.process) }}
        {{ form_row(form.comment) }}
        {{ form_row(form.material_list) }}
    <h2>{{ 'activity.form.meta.title'|trans }}</h2>
    <div class="row">
        <div class="col-6">
            {{ form_row(form.duration) }}
            {{ form_row(form.age) }}
            {{ form_row(form.people_number) }}
        </div>
        <div class="col-6">
            {{ form_row(form.difficulty) }}
            {{ form_row(form.group_phase) }}
            {{ form_row(form.gender_groups) }}
        </div>
    </div>
{% endblock %}

{% block form_aside %}
    {{ form_row(form.type) }}
    {{ parent() }}
{% endblock %}
