{% extends 'base.html.twig' %}

{% block title %}Activity list{% endblock %}

{% block body %}
    <div class="container">
        <h1>Activity list</h1>

        <table class="table table-bordered">
            <thead>
            <tr>
                <th>Ziel</th>
                <th>Titel</th>
                <th>Art</th>
                <th>Altersspanne</th>
                <th>Schwierigkeit</th>
                <th>TN Anzahl</th>
                <th>Dauer</th>
                <th>Gruppenphase</th>
                <th>Geschlechtergruppen</th>
                <th>Kategorie</th>
                <th>Tags</th>
                <th>letzte Aktualisierung</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {% for activity in activities %}
                <tr>
                    <td>{{ activity.goal }}</td>
                    <td>{{ activity.title }}</td>
                    <td>{{ activity.type }}</td>
                    <td>{{ activity.age.min }} bis {{ activity.age.max }}</td>
                    <td>{{ activity.difficulty }}</td>
                    <td>{{ activity.peopleNumber.min }} bis {{ activity.peopleNumber.max }}</td>
                    <td>{{ activity.duration ? activity.duration.format('%H:%I') : '' }}</td>
                    <td>{{ activity.groupPhase }}</td>
                    <td>{{ activity.genderGroups ? activity.genderGroups|join(', ') : '' }}</td>
                    <td>{{ activity.category }}</td>
                    <td>{{ activity.tags ? activity.tags|join(', ') : '' }}</td>
                    <td>{{ activity.updatedAt ? activity.updatedAt|date('Y-m-d H:i') : '' }}</td>
                    <td>
                        <a href="{{ path('activity_show', {'id': activity.id}) }}">anzeigen</a>
                        <a href="{{ path('activity_edit', {'id': activity.id}) }}">bearbeiten</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="13">Keine Einträge gefunden</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <a href="{{ path('activity_new') }}">Neu erstellen</a>
    </div>
{% endblock %}
