{% extends 'base.html.twig' %}

{% block title %}Activity{% endblock %}

{% block body %}
    <div class="container">
        <a href="{{ path('topic_education_index') }}">Zurück zur Liste</a>
        <a class="btn btn-outline-primary float-right" href="{{ path('activity_edit', {'id': activity.id}) }}">bearbeiten</a>

        <article class="activity">
            <header>
                <h1 class="activity-title">{{ activity.title }} <span class="badge badge-primary">{{ activity.type }}</span><span class="badge badge-secondary" style="background-color: #{{ activity.category.color }}">{{ activity.category }}</span></h1>
                {% if activity.tags and activity.tags|length > 0 %}<div class="knowledge_point-tags activity-tags"><div class="badge badge-tag">{{ activity.tags ? activity.tags|e|join('</div><div class="badge badge-tag">')|raw : '' }}</div></div>{% endif %}
            </header>

            <div class="row mb-2">
                <div class="col-12 col-md-6">
                    <h2 class="activity-meta-title">{{ 'knowledge_point.difficulty.name'|trans }}</h2>
                    <div class="progress meta-progress">
                        <div class="progress-bar" style="width: {{ 1 + activity.difficulty * 33 }}%;" role="progressbar" aria-valuenow="{{ activity.difficulty }}" aria-valuemin="1" aria-valuemax="3">{{ ('knowledge_point.difficulty.' ~ activity.difficulty)|trans }}</div>
                    </div>

                    <h2 class="activity-meta-title">{{ 'event.duration.duration'|trans }}</h2>
                    <span class="event-duration">{{ activity.duration ? activity.duration.format('%d Tag(e), %H:%I') : '' }}</span>
                </div>
                <div class="col-12 col-md-6">
                    <h2 class="activity-meta-title">{{ 'knowledge_point.age.age'|trans }}</h2>
                    <div class="progress meta-progress">
                        <div class="progress-bar bg-transparent" style="width: {{ activity.age.min * 3.57 + 0.04 }}%;" role="progressbar" aria-valuenow="{{ activity.age.min }}" aria-valuemin="0" aria-valuemax=28></div>
                        <div class="progress-bar" style="width: {{ (activity.age.max - activity.age.min) * 3.57 }}%;" role="progressbar" aria-valuenow="{{ activity.age.max }}" aria-valuemin="0" aria-valuemax=28>{{ activity.age.min ~ ' bis '|trans ~ (activity.age.max == 28 ? '27+' : activity.age.max) }}</div>
                    </div>

                    <h2 class="activity-meta-title">{{ 'activity.meta.people_number.people_number'|trans }}</h2>
                    <div class="progress meta-progress">
                        <div class="progress-bar bg-transparent" style="width: {{ activity.peopleNumber.min * 3.3 + 0.1 }}%;" role="progressbar" aria-valuenow="{{ activity.peopleNumber.min }}" aria-valuemin="0" aria-valuemax=30></div>
                        <div class="progress-bar" style="width: {{ (activity.peopleNumber.max - activity.peopleNumber.min) * 3.3 }}%;" role="progressbar" aria-valuenow="{{ activity.peopleNumber.max }}" aria-valuemin="0" aria-valuemax=30>{{ activity.peopleNumber.min ~ ' bis '|trans ~ (activity.peopleNumber.max == 30 ? '30+' : activity.peopleNumber.max) }}</div>
                    </div>
                </div>
                <div class="col-12 col-md-6 mt-2">
                    <h2 class="activity-meta-title">{{ 'activity.content.goal'|trans }}</h2>
                    <p class="activity-goal">
                        {{ activity.goal }}
                    </p>

                    <h2 class="activity-meta-title">{{ 'activity.meta.gender_groups'|trans }}</h2>
                    <p class="activity-goal">
                        {{ activity.genderGroups ? activity.genderGroups|join(', ') : '' }}
                    </p>
                </div>
                <div class="col-12 col-md-6 mt-2">
                    <h2 class="activity-meta-title">{{ 'activity.meta.group_phase'|trans }}</h2>
                    <p class="activity-group-phase">
                        {{ activity.groupPhase }}
                    </p>
                </div>
            </div>


            <h2 class="activity-meta-title">{{ 'knowledge_point.comment'|trans }}</h2>
            <p class="activity-comment">
                {{ activity.comment }}
            </p>

            <h2 class="activity-meta-title">{{ 'activity.content.process'|trans }}</h2>
            <p class="activity-process">
                {{ activity.process|raw }}
            </p>

            {% if activity.materialList %}
                <h2 class="activity-meta-title">{{ 'activity.content.material'|trans }}</h2>
                <ul>
                    {% for material in activity.materialList %}
                        {% if not material is empty %}<li>{{ material }}</li>{% endif %}
                    {% endfor %}
                </ul>
            {% endif %}

            <footer class="mt-3 text-muted">
                <span class="updated-at">{{ 'knowledge_point.updated_at'|trans }}: {{ activity.updatedAt ? activity.updatedAt|date('Y-m-d H:i:s') : '' }}</span><br>
                <span class="created-at">{{ 'knowledge_point.created_at'|trans }}: {{ activity.createdAt ? activity.createdAt|date('Y-m-d H:i:s') : '' }}</span>
            </footer>
        </article>
    </div>
{% endblock %}
