<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand" href="{{ path('app_index') }}">{{ 'app.title'|trans }}</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                {% if not disable_topic_nav is defined or not disable_topic_nav %}
                    {% set active_topic = (current_topic is defined) ? current_topic : '' %}
                    <li class="col-12 d-md-none topic-nav-column {{ active_topic == 'theory' ? 'topic-nav-active' : '' }}" id="topic-theory-nav">
                        <a class="topic-nav-link" href="{{ path('topic_theory_index') }}">{{ 'app.topic.theory.title'|trans }}</a>
                    </li>
                    <li class="col-12 d-md-none topic-nav-column {{ active_topic == 'education' ? 'topic-nav-active' : '' }}" id="topic-education-nav">
                        <a class="topic-nav-link" href="{{ path('topic_education_index') }}">{{ 'app.topic.education.title'|trans }}</a>
                    </li>
                    <li class="col-12 d-md-none topic-nav-column {{ active_topic == 'organisation' ? 'topic-nav-active' : '' }}" id="topic-organisation-nav">
                        <a class="topic-nav-link" href="{{ path('topic_organisation_index') }}">{{ 'app.topic.organisation.title'|trans }}</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
{% if not disable_topic_nav is defined or not disable_topic_nav %}
    {% set active_topic = (current_topic is defined) ? current_topic : '' %}
    <nav class="container-fluid topic-nav d-none d-md-block">
        <div class="row">
            <div class="col-md-4 topic-nav-column {{ active_topic == 'theory' ? 'topic-nav-active' : '' }}" id="topic-theory-nav">
                <a class="topic-nav-link" href="{{ path('topic_theory_index') }}">{{ 'app.topic.theory.title'|trans }}</a>
            </div>
            <div class="col-md-4 topic-nav-column {{ active_topic == 'education' ? 'topic-nav-active' : '' }}" id="topic-education-nav">
                <a class="topic-nav-link" href="{{ path('topic_education_index') }}">{{ 'app.topic.education.title'|trans }}</a>
            </div>
            <div class="col-md-4 topic-nav-column {{ active_topic == 'organisation' ? 'topic-nav-active' : '' }}" id="topic-organisation-nav">
                <a class="topic-nav-link" href="{{ path('topic_organisation_index') }}">{{ 'app.topic.organisation.title'|trans }}</a>
            </div>
        </div>
    </nav>
{% endif %}
