<div class="knowledge_point-entity {{ class }}">
    <h2><a href="{{ path(show_path, {'id': point.id}) }}">{{ title }}</a><span class="badge badge-primary">{{ type }}</span><span class="badge badge-secondary" style="background-color: #{{ point.category.color }}">{{ point.category }}</span></h2>
    <div class="knowledge_point-tags">{{ point.tags and point.tags|length > 0 ? '<div class="badge badge-tag">'|raw }}{{ point.tags ? point.tags|e|join('</div><div class="badge badge-tag">')|raw : '' }}{{ point.tags and point.tags|length > 0 ? '</div>'|raw }}</div>
    <ul class="knowledge_point-entity-body">
        {% block summary_body %}
            <li><strong>{{ 'knowledge_point.age.age'|trans }}:</strong> {{ point.age.min ~ ' bis '|trans ~ (point.age.max == 28 ? '27+' : point.age.max) }}</li>
            <li><strong>{{ 'knowledge_point.difficulty.name'|trans }}:</strong> {{ ('knowledge_point.difficulty.' ~ point.difficulty)|trans }}</li>
        {% endblock %}
    </ul>
</div>
<hr>
