{% if point.class == "App\\Entity\\Activity" %}
    {% embed 'knowledge_point/_summary_base.html.twig' with {
        'class': 'Activity',
        'show_path': 'activity_show',
        'title': point.title,
        'type': point.type,
    } %}
        {% block summary_body %}
            {{ parent() }}
            <li><strong>{{ 'activity.meta.people_number.people_number'|trans }}:</strong> {{ point.peopleNumber.min ~ ' bis '|trans ~ point.peopleNumber.max }}</li>
            {% if point.duration %}<li><strong>{{ 'activity.meta.duration.duration'|trans }}:</strong> {{ point.duration.format('%H:%I') }}</li>{% endif %}
        {% endblock %}
    {% endembed %}
{% elseif point.class == "App\\Entity\\Event" %}
    {% embed 'knowledge_point/_summary_base.html.twig' with {
        'class': 'Event',
        'show_path': 'event_show',
        'title': point.title is null ? point.topic : point.title,
        'type': point.type
    } %}
        {% block summary_body %}
            {{ parent() }}
            {% if point.duration %}<li><strong>{{ 'event.duration.duration'|trans }}:</strong> {{ point.duration.format('%d Tag(e), %H:%I') }}</li>{% endif %}
        {% endblock %}
    {% endembed %}
{% else %}
{% endif %}

